<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.productName}"></title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
    <style>
        textarea {
            resize: none;
        }
    </style>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container py-5">
    <div class="row d-flex align-items-center">
        <div class="col-md-4 item-photo">
            <img style="max-width:100%;" th:src="@{'https://phuc-public-image.s3.ap-southeast-2.amazonaws.com/' + ${product.mainImage}}"/>
        </div>
        <div class="col-md-6">
            <h3 th:text="${product.productName}"></h3>
            <p th:text="${product.note}"></p>
            <p style="color:orange;"><small th:text="${'Còn ' + product.amount + ' sản phẩm'}"></small></p>
            <h6 class="title-price"><small>Giá</small></h6>
            <h3 class="mt-0" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT') + ' &#273;'}"></h3>

            <div class="d-flex mt-4">
                <button class="btn btn-success me-2">Đặt hàng</button>
                <form th:action="@{/cart/add-to-cart}" method="POST">
                    <input type="hidden" name="id" th:value="${product.getProductId()}">
                    <input type="hidden" name="name" th:value="${product.getProductName()}">
                    <input type="hidden" name="price" th:value="${product.getPrice()}">
                    <input type="hidden" name="image" th:value="${product.getMainImage()}">
                    <button class="btn btn-danger" type="submit"
                            onclick="return confirm('Bạn có muốn thêm sản phẩm này vào giỏ hàng?')">
                        Thêm vào giỏ hàng
                    </button>
                </form>
            </div>
        </div>

        <div class="row col-xs-9 mt-3">
            <div class="col-md-8">
                <div class="my-3 fw-bold" style="font-size:22px">Mô tả sản phẩm</div>
                <div style="text-align: justify;" th:utext="${description}"></div>
            </div>
            <div class="col-md-4">
                <div class="ms-4 fw-bold text-center">Thông tin chi tiết</div>
            </div>
        </div>

        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-start">
                <div class="col-md-12 col-lg-10">
                    <div class="card text-dark">
                        <div class="card-body p-4">
                            <h4 class="mb-0">Recent comments</h4>
                            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>

                            <div th:each="comment, commentStatus : ${comments}">
                                <div class="card-body p-4">
                                    <div class="d-flex flex-start">
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
                                             height="60" />
                                        <div>
                                            <h6 class="fw-bold mb-1" th:text="${comment.user.fullname}"></h6>
                                            <div class="d-flex align-items-center mb-3">
                                                <p class="mb-0" th:text="${comment.createdAt}">
                                                    <span class="badge bg-primary">Pending</span>
                                                </p>
                                                <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                                <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                                                <a th:href="@{'/product/delete-comment/' + ${comment.commentId}}"
                                                   class="link-muted link-danger" onclick="return confirm('Xoá comment?')">
                                                    <i class="fas fa-xmark ms-2"></i>
                                                </a>
                                            </div>
                                            <p class="mb-0" th:utext="${comment.content}" style="white-space: pre-line;"></p>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-0" th:if="${!commentStatus.last}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row d-flex justify-content-start">
                <div class="col-md-12 col-lg-10">
                    <form th:action="@{'/product/' + ${product.productId}}" method="POST" th:object="${newComment}">
                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                            <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3"
                                     src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                                     height="40" />
                                <div class="form-outline w-100">
                                            <textarea class="form-control" id="textAreaExample" rows="4"
                                                      style="background: #fff;" th:field="${newComment.content}">
                                            </textarea>
                                    <label class="form-label" for="textAreaExample">Message</label>
                                </div>
                            </div>
                            <div class="float-end mt-2 pt-1">
                                <button type="submit" class="btn btn-primary btn-sm" id="check-auth">Post comment</button>
                                <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{layout :: footer}"></th:block>
<script th:src="@{/js/check-auth.js}"></script>
<script th:src="@{/js/restoreScrollPosition.js}"></script>
</body>
</html>