<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Quản lý hóa đơn</title>
    <th:block th:replace="layout-admin :: link-css"></th:block>
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">
    <th:block th:replace="layout-admin :: header"></th:block>
    <div id="content-wrapper">
        <div id="content">
            <th:block th:replace="layout-admin :: nav"></th:block>
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="font-weight-bold text-primary">DataTables Bill</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>BillID</th>
                                    <th>Tên khách hàng</th>
                                    <th>Tổng tiền</th>
                                    <th>Ngày tạo</th>
                                    <th>Chức năng</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>BillID</th>
                                    <th>Tên khách hàng</th>
                                    <th>Tổng tiền</th>
                                    <th>Ngày tạo</th>
                                    <th>Chức năng</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="bill: ${bills}">
                                    <td th:text="${bill.billId}"></td>
                                    <td th:text="${bill.name}"></td>
                                    <td th:text="${#numbers.formatDecimal(bill.totalPrice, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
                                    <td th:text="${bill.createdAt}"></td>
                                    <td>
                                        <a href="#">Xem chi tiết hoá đơn</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="layout-admin :: footer"></th:block>
        </div>
    </div>
</div>

<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/datatables-demo.js"></script>
</body>
</html>