<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container my-3 py-3">
    <div class="row">
        <div class="alert alert-danger col-md-3 m-auto my-3 text-center" th:if="${error}" th:text="${error}"></div>
        <div class="alert alert-success col-md-3 m-auto my-3 text-center" th:if="${success}" th:text="${success}"></div>
        <div class="d-flex justify-content-center">
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Change Password</h3>
                </div>
                <div class="card-body">
                    <form class="form" th:action="@{/change-password}" method="POST" onsubmit="return validateForm()">
                        <div class="form-group">
                            <label for="currentPassword">Mật khẩu hiện tại:</label>
                            <input type="password" name="currentPassword" class="form-control" id="currentPassword" required>
                        </div>
                        <div class="form-group">
                            <label for="newPassword">Mật khẩu mới:</label>
                            <input type="password" name="newPassword" class="form-control" id="newPassword" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Xác nhận mật khẩu mới:</label>
                            <input type="password" class="form-control" id="confirmPassword" oninput="checkPasswordMatch(this);" required>
                            <span id="passwordMatchError" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success form-control mt-3">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{layout :: footer}"></th:block>
</body>
</html>
<script>
  function checkPasswordMatch(input) {
    var newPasswordInput = document.getElementById("newPassword").value;
    var confirmPasswordInput = input.value;
    var errorSpan = document.getElementById("passwordMatchError");
    if (newPasswordInput === confirmPasswordInput) {
      errorSpan.innerText = "";
    } else {
      errorSpan.innerText = "Mật khẩu không khớp.";
    }
  }

  function validateForm() {
    var newPasswordInput = document.getElementById("newPassword").value;
    var confirmPasswordInput = document.getElementById("confirmPassword").value;

    if (newPasswordInput !== confirmPasswordInput) {
      alert("Mật khẩu không khớp. Vui lòng kiểm tra lại.");
      return false;
    }

    return true;
  }
</script>