<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
    <link rel="stylesheet" th:href="@{/css/styleCart.css}">
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10" th:if="${totalQuantity > 0}">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Số lượng sản phẩm trong giỏ hàng:
                        <span th:text="${totalQuantity}"></span>
                    </h3>
                    <div>
                        <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#" class="text-body">price <i
                                class="fas fa-angle-down mt-1"></i></a></p>
                    </div>
                </div>

                <div class="card rounded-3 mb-4" th:each="item : ${cart}">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <img th:src="@{'https://phuc-public-image.s3.ap-southeast-2.amazonaws.com/' + ${item.image}}"
                                        class="img-fluid rounded-3" th:alt="${item.productName}">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="lead fw-normal mb-2" th:text="${item.productName}"></p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <button class="btn btn-link px-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <input id="form1" min="0" name="quantity" type="number" th:value="${item.quantity}"
                                       class="form-control form-control-sm" />

                                <button class="btn btn-link px-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h5 class="mb-0" th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT') + ' &#273;'}"></h5>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                <a th:href="@{'/cart/removeFromCart/' + ${item.getProductId()}}"
                                   class="text-danger" onclick="return confirm('Xóa sản phẩm này khỏi giỏ hàng?')">
                                    <i class="fas fa-trash fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="bottom: 0; left: 50%">
                    <nav aria-label="Page navigation" th:if="${totalPages > 0}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" th:href="@{|/cart?page=${currentPage - 1}|}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
                                <a class="page-link" th:href="@{|/cart?page=${page}|}" th:text="${page + 1}"></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{|/cart?page=${currentPage + 1}|}" aria-label="Next">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="card mb-4">
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="form-outline flex-fill">
                            <input type="text" id="code" class="form-control form-control-lg" />
                            <label class="form-label" for="code">Discound code</label>
                        </div>
                        <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
                    </div>
                </div>

                <form class="row mb-4" th:action="@{/payment}" method="POST">
                    <input type="hidden" name="totalPrice" th:value="${totalPrice}">
                    <input type="hidden" name="orderInfo" value="Thanh toan don hang 2023">

                    <div class="col-lg-6 col-xl-6">
                        <div class="d-flex flex-row">
                            <div class="d-flex align-items-center pe-2">
                                <input class="form-check-input" type="radio" id="check-paypal" onclick="togglePaymentOption('paypal')"/>
                            </div>
                            <div class="rounded border w-100 p-2">
                                <p class="d-flex align-items-center mb-0">
                                    <img class="me-2" width="50px"
                                         src="https://img.freepik.com/free-icon/paypal_318-674245.jpg"
                                         alt="PayPal acceptance mark" />
                                    PayPal
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="d-flex align-items-center pe-2">
                                <input class="form-check-input" type="radio" id="check-vnpay" onclick="togglePaymentOption('vnpay')"/>
                            </div>
                            <div class="rounded border w-100 p-2">
                                <p class="d-flex align-items-center mb-0">
                                    <img class="me-2" width="50px"
                                         src="https://images.careerbuilder.vn/employer_folders/lot1/175021/90744logovnpay-02.png"
                                         alt="VNPay acceptance mark" />
                                    VNPay
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xl-6 mb-4">
                        <div class="d-flex justify-content-between" style="font-weight: 500;">
                            <p>Tổng tiền</p>
                            <p th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT') + ' &#273;'}"></p>
                        </div>

                        <hr class="my-3">

                        <button type="submit" id="check-auth" class="btn btn-primary btn-block btn-lg">
                            <div class="d-flex justify-content-between">
                                <span>Checkout</span>
                                <span th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT') + ' &#273;'}"></span>
                            </div>
                        </button>
                    </div>
                </form>

                <div class="card mb-lg-0">
                    <div class="card-body">
                        <p><strong>We accept</strong></p>
                        <img class="me-2" width="45px"
                             src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                             alt="Visa" />
                        <img class="me-2" width="45px"
                             src="https://images.careerbuilder.vn/employer_folders/lot1/175021/90744logovnpay-02.png"
                             alt="VNPay" />
                        <img class="me-2" width="45px"
                             src="https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png"
                             alt="PayPal acceptance mark" />
                    </div>
                </div>
            </div>
            
            <div class="text-center my-5" th:if="${totalQuantity == 0}">
                <a class="d-block link-warning" href="/product">
                    <i class="fas fa-fw fa-arrow-left"></i>
                    Trở về cửa hàng</a>
                <img src="https://bizweb.dktcdn.net/100/352/749/themes/716356/assets/empty-cart.png?1667786902115" alt="">
            </div>
        </div>
    </div>
</section>

<th:block th:replace="~{layout :: footer}"></th:block>
<script th:src="@{/js/check-auth.js}"></script>
<script>
    function togglePaymentOption(option) {
        const vnpayRadio = document.getElementById('check-vnpay');
        const paypalRadio = document.getElementById('check-paypal');
        if (option === 'paypal') {
            vnpayRadio.checked = false;

            paypalRadio.name = 'paypal';
            vnpayRadio.name = '';
        } else if (option === 'vnpay') {
            paypalRadio.checked = false;

            vnpayRadio.name = 'vnpay';
            paypalRadio.name = '';
        }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</body>
</html>