<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:fragment="link-css" rel="preconnect" href="https://fonts.googleapis.com">
    <link th:fragment="link-css" rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link th:fragment="link-css" href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@600&display=swap" rel="stylesheet">

    <link th:fragment="link-css" rel="stylesheet" th:href="@{/vendor/font-awesome/css/all.min.css}">
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/mdb.min.css}">
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:fragment="header">
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
        <div class="container">
            <div class="row">
                <!-- Left elements -->
                <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
                    <a href="/" class="ms-md-2">
                        <img src="/img/logos/logo.png" height="40" />
                    </a>
                </div>
                <!-- Left elements -->

                <!-- Center elements -->
                <div class="col-md-4">
                    <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0" th:action="@{/product/search}">
                        <input autocomplete="off" type="search" name="name" class="form-control rounded" placeholder="Search" />
                        <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
                    </form>
                </div>
                <!-- Center elements -->

                <!-- Right elements -->
                <div class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-center">
                    <div class="d-flex">
                        <!-- Cart -->
                        <a class="text-reset me-3" href="/cart">
                            <span><i class="fas fa-shopping-cart"></i></span>
                            <span class="badge rounded-pill badge-notification bg-danger" id="cartItemCount"></span>
                        </a>

                        <!-- User -->
                        <a href="#" class="text-reset text-uppercase" sec:authorize="!isAuthenticated()"
                           data-bs-toggle="modal" data-bs-target="#ModalForm">
                            <i class="fa-solid fa-circle-user"></i> Login
                        </a>
                        <div class="dropdown" sec:authorize="isAuthenticated()">
                            <a class="text-reset dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                               id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
                                     alt="" loading="lazy" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" th:href="@{/profile}">My profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item link-danger" th:href="@{/logout}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Right elements -->
            </div>
        </div>
    </div>
    <!-- Jumbotron -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <!-- Container wrapper -->
        <div class="container justify-content-center justify-content-md-between">
            <!-- Left links -->
            <ul class="navbar-nav flex-row">
                <li class="nav-item me-2 me-lg-0">
                    <a class="nav-link btn shadow-0" role="button">
                        <i class="fas fa-bars me-1"></i>
                        <span>Categories</span>
                    </a>
                </li>
                <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                    <a class="nav-link" href="/product">Sản phẩm</a>
                </li>
                <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                    <a class="nav-link" href="#">Siêu giảm giá</a>
                </li>
                <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                    <a class="nav-link" href="/about">Về chúng tôi</a>
                </li>
                <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="form-area bg-primary">
                    <h1 class="text-center">Login</h1>
                    <form th:action="@{/login}" method="POST">
                        <div class="form-floating mb-3 mt-4">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                            <label for="username" class="text-dark">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            <label for="password" class="text-dark">Password</label>
                        </div>
                        <div class="d-flex justify-content-between align-items-center my-2">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" name="remember-me" id="remember-me" />
                                <label class="form-check-label" for="remember-me">
                                    Remember me?
                                </label>
                            </div>
                            <a th:href="@{/forgot-password}" class="link-light fw-bold">Forgot password?</a>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <a th:href="@{/oauth2/authorization/facebook}" class="btn btn-sm btn-light mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a th:href="@{/oauth2/authorization/google}" class="btn btn-sm btn-light mx-1">
                                <i class="fab fa-google"></i>
                            </a>
                        </div>
                        <button type="submit" class="btn btn-light mt-3">LOGIN</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
                            <a th:href="@{/register}" class="text-light">Register</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<div th:insert="~{::${content}}">
<!-- Nội dung chính -->
</div>

<footer class="bg-light text-center text-white" th:fragment="footer">
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #3b5998;"
                    href="#!"
                    role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #55acee;"
                    href="#!"
                    role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #dd4b39;"
                    href="#!"
                    role="button"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #ac2bac;"
                    href="#!"
                    role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #0082ca;"
                    href="#!"
                    role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Github -->
            <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #333333;"
                    href="#!"
                    role="button"
            ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const cartItemCountElement = document.getElementById("cartItemCount");
            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/cartItemCount", true);
            xhr.onload = function() {
              if (xhr.status === 200) {
                const cartItemCount = JSON.parse(xhr.responseText);
                cartItemCountElement.textContent = cartItemCount;
              }
            };
            xhr.send();
        });
    </script>
    <script th:src="@{/js/mdb.min.js}"></script>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</footer>
</body>
</html>