<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
    <link rel="stylesheet" th:href="@{/css/styleCatalog.css}">
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container bg-light rounded my-3">
    <div class="h4 font-weight-bold text-center py-3">Explore more</div>
    <div class="row">
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div
                            class="rounded-circle mx-3 text-center d-flex align-items-center justify-content-center blue">
                        <img src="https://cdn-icons-png.flaticon.com/512/6848/6848832.png" alt="">
                    </div>
                    <div class="d-flex flex-column">
                        <b>CPU</b>
                        <a th:href="@{/product/search?category=cpu}">
                            <p class="text-muted">23 classes</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3  d-flex align-items-center justify-content-center pale-orange">
                        <img src="https://images.freeimages.com/fic/images/icons/259/hardware/256/motherboard.png" alt="">
                    </div>
                    <div class="d-flex flex-column">
                        <b>Mainboard</b>
                        <a th:href="@{/product/search?category=mainboard}">
                            <p class="text-muted">5 classes</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3  d-flex align-items-center justify-content-center pale-purple">
                        <img src="https://cdn-icons-png.flaticon.com/512/543/543320.png"
                             alt="">
                    </div>
                    <div class="d-flex flex-column">
                        <b>RAM</b>
                        <a th:href="@{/product/search?category=ram}">
                            <p class="text-muted">32 classes</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3  d-flex align-items-center justify-content-center pale-cyan">
                        <img src="https://cdn-icons-png.flaticon.com/512/1132/1132921.png"
                             alt="">
                    </div>
                    <div class="d-flex flex-column">
                        <b>VGA</b>
                        <a th:href="@{/product/search?category=vga}">
                            <p class="text-muted">5 classes</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3  d-flex align-items-center justify-content-center pale-pink">
                        <img src="https://cdn.iconscout.com/icon/free/png-256/free-ssd-1758325-1496544.png"
                             alt="">
                    </div>
                    <div class="d-flex flex-column">
                        <b>Ổ Cứng</b>
                        <a th:href="@{/product/search?category=ổ%20cứng}">
                            <p class="text-muted">6 classes</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3  d-flex align-items-center justify-content-center pale-orange">
                        <img src="https://firebasestorage.googleapis.com/v0/b/mongcaifood.appspot.com/o/power-supply.svg?alt=media&token=47f2d1e9-6927-4778-917d-cb52e7d0b027"
                             alt="">
                    </div>
                    <div class="d-flex flex-column">
                        <b>Nguồn</b>
                        <a th:href="@{/product/search?category=nguồn}">
                            <p class="text-muted">28 classes</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3  d-flex align-items-center justify-content-center pale-orange">
                        <img src="https://www.iconarchive.com/download/i63485/iconmoon/viva/Headphones.ico"
                             alt="">
                    </div>
                    <div class="d-flex flex-column">
                        <b>Tai nghe</b>
                        <a th:href="@{/product/search?category=tai%20nghe}">
                            <p class="text-muted">5 classes</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3  d-flex align-items-center justify-content-center pale-green">
                        <img src="https://cdn-icons-png.flaticon.com/512/2493/2493283.png" alt="">
                    </div>
                    <div class="d-flex flex-column">
                        <b>Màn hình</b>
                        <a th:href="@{/product/search?category=màn%20hình}">
                            <p class="text-muted">5 classes</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
            <div class="box bg-white">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle mx-3  d-flex align-items-center justify-content-center pale-pista">
                        <img src="https://cdn.icon-icons.com/icons2/38/PNG/512/keyboard_5643.png"
                             alt="">
                    </div>
                    <div class="d-flex flex-column">
                        <b>Bàn phím</b>
                        <a th:href="@{/product/search?category=bàn%20phím}">
                            <p class="text-muted">5 classes</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{layout :: footer}"></th:block>
</body>
</html>